
watch-backend/.env.example
watch-backend/.env
watch-backend/.idea/
watch-backend/.DS_Store
.DS_Store
watch-backend/alembic/versions/
watch-backend/app/core/static/
watch-backend/static/
/.idea
watch-backend/.vscode/launch.json
watch-backend/app/resources/glove.840B.300d.txt
watch-backend/tools/static_archive
/watch-backend/static_archive
